html {
	position: relative;
	min-height: 100%;
}
body {
	padding: 120px 0px;
}
section {
	padding: 50px 0;
}
img {
	max-width: 100%;
}
pre, code {
	background: #f8f8f8;
	color: #333;
}
pre {
	border-left: 2px solid #ccc;
	padding: 10px;
}
code {
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.4em;
	border-radius: 3px;
}
table {
	empty-cells: show;
	border: 1px solid #cbcbcb;
	width: 100%;
	font-size: 0.9em;
	margin-bottom: 1rem;
}
thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
th, td {
	padding: 0.5em 1em;
}
h1.title,
h2.title {
	font-size: 2.3rem;
}
blockquote {
        padding: 10px 20px;
        margin: 0 0 20px 20px;
        border-left: 5px solid #eee;
        font-style: italic;
}
.tag-container {
	margin-bottom: 8px;
}
.tag {
	padding: 1px 10px 3px 10px;
    border: 1px solid #bea984;
    border-radius: 15px;
    background: linear-gradient(338deg, #362e28, #6e551c);
    color: #ffd679;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 0px 15px 4px #e6ac0a00!important;
    white-space: nowrap;
}
.page-info {
	display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
	margin: 0px 0px 17px 2px;
	font-style: italic;
}
.page-info a,
.page-info a:hover {
	color: inherit;
}
.no-break {
	white-space: nowrap;
}
a {
	color: #84a98c;
}
a:hover {
	color: #52796f;
}
.bold {
	font-weight: bold;
}

/* Icons */
.fa-folder,
.fa-folder-open {
	transform: rotate(-90deg);
}
.page-info .fa {
	font-weight: bold;
}

/* Paginator */
.paginator {
	margin-top: 20px;
	margin-bottom: 80px;
}

/* Navbar */
.navbar,
.footer {
	box-shadow: 0 0 12px 0px #343a40;
}
img.nav-svg-icon {
	height: 18px;
	width: auto;
	padding-bottom: 2px;
}
.nav-link {
	font-size: 1em;
}
.navbar-logo-container {
	max-width: 50%;
}
.navbar-logo {
	max-height: 50px;
	margin: 8px 0px;
}
.navbar-toggler .navbar-toggler-icon {
    transition: 0.5s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(270deg);
}

/* Footer */
footer {
	padding: 30px 0px;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 0.9em;
}
.footer-col {
	display: flex;
	align-items: center;
}
.footer-left {
	justify-content: flex-start;
}
.footer-right {
	justify-content: flex-end;
}
.footer-center {
    justify-content: center;
}
#footer-links {
	column-gap: 10px;
}
.mini-logo {
	height: 22px;
}
@media (max-width: 991px) {
	.footer-row {
		flex-direction: column;
	}
	.footer-col {
		justify-content: center;
	}
}

/* Home - Header */
header.welcome {
	padding: 100px 0;
}
.welcome h1 {
	filter: drop-shadow(14px 10px 1px lightgray);
	letter-spacing: 2px;
    opacity: 0.8;
    margin-bottom: 30px;
}
.lead {
	font-size: 1.3rem;
    line-height: 1.8;
}

/* Home - Page */
.page-cover-image {
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}
.page-description:not(.page-preview .page-description) {
	color: #b5b5b5;
	font-style: italic;
}
.page-preview {
	border-radius: 8px;
	box-shadow: 0 0 16px 4px #c2c2c2, 6px 6px 12px 1px #737576;
    padding: 30px 0px;
}

/* VIDEO EMBED RESPONSIVE */
.video-embed {
	overflow:hidden;
	padding-bottom: 56.25%; /* 16:9 */
	position:relative;
	height:0;
}
.video-embed iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

/* SEARCH */
.search-container {
	border: 1px solid rgba(255,255,255,.5);
    border-radius: 20px;
    padding: 0px 10px;
	margin-bottom: 3px;
	justify-content: space-between;
}
.search-container .fa-search {
	color: rgba(255,255,255,.5);
}
.search-container .fa-search:hover,
.navbar .navbar-nav .nav-link:hover {
    color: #9a9da0;
    cursor: pointer;
	filter: brightness(0.8);	
}
.navbar .navbar-logo {
	transition: 0.15s;
}
.navbar .navbar-logo:hover {
	filter: drop-shadow(12px 8px 2px #767676)!important;
    opacity: 0.9;
    transform: rotate3d(10, 10, 10, -3deg) translate(-5px, -2px);
}
#search-input {
	min-width: 90%;
}
#search-input.nondescript {
	color: white;
}
.nondescript {
	background-color: transparent;
    border: none;
}
.nondescript:focus-visible {
	outline: none;
}
#search-clear {
	filter: contrast(0.1);
}
@media (min-width: 768px) {
	.navbar-center {
		align-items: center;
	}
	.search-container {
		margin-left: 10px;
	}
}
@media (max-width: 768px) {
	.search-container {
		margin: 10px 0px;
	}
}
@media (max-width: 575px) {
	.page-preview {
		margin: 0px;
	}
}